<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Novus-Artifacts" value="https://pkgs.dev.azure.com/terrarepo/48ce4183-b2ed-4c83-8aa1-04d63eb9fb71/_packaging/Novus-Artifacts/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
